
Ontology/cve_data/cve_generate_data_1999.xml
Ontology/cve_data/cve_generate_data_2000.xml
Ontology/cve_data/cve_generate_data_2001.xml
Ontology/cve_data/cve_generate_data_2002.xml
Ontology/cve_data/cve_generate_data_2003.xml
Ontology/cve_data/cve_generate_data_2004.xml
Ontology/cve_data/cve_generate_data_2005.xml
Ontology/cve_data/cve_generate_data_2006.xml
Ontology/cve_data/cve_generate_data_2007.xml
Ontology/cve_data/cve_generate_data_2008.xml
Ontology/cve_data/cve_generate_data_2009.xml
Ontology/cve_data/cve_generate_data_2010.xml
Ontology/cve_data/cve_generate_data_2011.xml
Ontology/cve_data/cve_generate_data_2012.xml
Ontology/cve_data/cve_generate_data_2013.xml
Ontology/cve_data/cve_generate_data_2014.xml
Ontology/cve_data/cve_generate_data_2015.xml
Ontology/cve_data/cve_generate_data_2016.xml
Ontology/cve_data/cve_generate_data_2017.xml
Ontology/cve_data/cve_generate_data_2018.xml
Ontology/cve_data/cve_generate_data_2019.xml
Ontology/cve_data/cve_generate_data_2020.xml
Ontology/cve_data/cve_generate_data_2021.xml
Ontology/cve_data/cve_allitems.xml
Ontology/oval.xml
Ontology/oval_data.xml
Ontology/oval_data/asa.xml
Ontology/oval_data/ios.xml
Ontology/oval_data/iosxe.xml
Ontology/oval_data/macos.xml
Ontology/oval_data/pixos.xml
Ontology/oval_data/unix.xml
Ontology/oval_data/windows.xml
Ontology/vsetko.rdf
dokument/main.aux
dokument/main.lof
dokument/main.log
dokument/main.out
dokument/main.synctex.gz
dokument/main.toc
dokument/main.bbl
Ontology/example.txt
